[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = git@github.com:miloyip/rapidjson.git
[submodule "tests/lib/gtest"]
	path = tests/lib/gtest
	url = git@github.com:google/googletest.git
[submodule "lib/boost"]
	path = lib/boost
	url = git@github.com:boostorg/boost.git
